2-TrackISS.json
[{"id":"c7926f87.d333a","type":"tab","label":"Track ISS","disabled":false,"info":""},{"id":"fdac59dc.7e7108","type":"debug","z":"c7926f87.d333a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":60,"wires":[]},{"id":"e315c195.9065a","type":"inject","z":"c7926f87.d333a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["b295d758.a5eb08"]]},{"id":"b295d758.a5eb08","type":"http request","z":"c7926f87.d333a","name":"","method":"GET","ret":"txt","url":"http://api.open-notify.org/iss-now.json","tls":"","x":310,"y":60,"wires":[["e6d4f16e.c2c9a"]]},{"id":"e6d4f16e.c2c9a","type":"json","z":"c7926f87.d333a","name":"","property":"payload","action":"","pretty":false,"x":490,"y":60,"wires":[["303c96c9.caf92a"]]},{"id":"303c96c9.caf92a","type":"function","z":"c7926f87.d333a","name":"","func":"var issLocation = msg.payload.iss_position;\nmsg.payload = {\n    name : \"ISS\",\n    lat : parseFloat(issLocation.latitude),\n    lon : parseFloat(issLocation.longitude)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":60,"wires":[["fdac59dc.7e7108","ca36fc39.f3aac"]]},{"id":"ca36fc39.f3aac","type":"worldmap","z":"c7926f87.d333a","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","x":830,"y":120,"wires":[]}]
